@charset "utf-8";

@font-face {
	font-family: 'Champagne';
	src: url('cac_champagne.woff') format('woff'), 
    url('cac_champagne.ttf') format('truetype');
}
@font-face {
    font-family: 'Grunge'; 
    src: url('1942.woff') format('woff'),
    url('1942.ttf') format('tff');
}
@font-face {
    font-family: 'Dobkin';
    src: url('DobkinPlain.woff') format('woff'),
    url('DobkinPlain.ttf') format('tff');
}

/* The Font-Face selector allows for using font files and using them in the CSS document. This is setup to Rename and use the fonts. */

    

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Gabriel Fuentes
   Date: 9.6.18   
   
   Filename: ph_styles.css

*/


/* Structural Styles */

html {
    background-color: hsl(91, 8%, 56%);
    font-size: .9em;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

header {
    background-color: rgb(10, 10, 10); 
}

p {
    margin: 0px;
    padding: 5px 25px 25px 25px; 
}

body>p {
    font-size: 1.1em; 
    text-align: center;
}

/* This is meant to make the basic sectioning elements of HTML be colored, and margined to specifcations. The font sizes and use of fonts were also added in so it looks like the font specified. */

/* Navigation Styles */

nav a {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    padding: 10px 0px 10px 0px;
}

nav a:visited, nav a:link {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, .4);
}
nav a:hover, nav a:active {
    text-decoration-color: hsla(0, 0%, 100%, 0.7);
    text-decoration: none;
    background-color: hsl(0, 0%, 42%, 0.7);
}

/* The Nav is setup to look different from the other content by color, margin and it being at the top of every different play. */

/* Section Styles */

h1 {
    font-size: 3em;
}

.playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 20px;
}



#play1 {
    background-color: hsl(240, 100%, 88%);
}

#play2 {
    background-color: hsl(25, 88%, 73%);
}

#play3 {
    background-color: hsl(0, 100%, 75%);
}

#play4 {
    background-color: hsl(296, 86%, 86%);
}

#play1 h1 {
    text-align: left;
    font-family: 'cursive';
    font-family: 'Champagne'; 
}
#play2 h1 {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Grunge';
}
#play3 h1 { 
    text-align: left;
    font-family: 'Impact', Charcoal, sans-serif;
}
#play4 h1 {
    text-align: left;
    font-family: 'cursive';
    font-family: 'Dobkin';
}

/* This is designed to make each play font, color, margins and padding look different from eachother its made so it has 4 different of each for color and font but they are setup the same for padding and margins. */

/* Description List Styles */

dt {
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd {
    font-size: 1.3em;
    margin: 0px 0px 10px 0px;
}

/* This is designed to set the font size and the margin so its 10 pixels from the bottom and the font size is 1.3 em. */
